<link rel="stylesheet" href="tree.css">

<div id="tree"></div>

<script src="trie.js"></script>
<script src="renderer.js"></script>

<script>
  document.body.onload = () => {
    const canvas = document.querySelector("#tree");
    const renderer = new Renderer(canvas);
    const trie = new Trie();

    trie.addWord("animal");
    trie.addWord("ducks");
    trie.addWord("docks");
    trie.addWord("dogs");

    renderer.render(trie);
  }
</script>
